@media(max-width:1199px){
    .header-contact{

        justify-content: flex-start;
    }
}


@media(max-width: 991px){

    .navbar-nav .nav-link {
        padding: 15px 15px !important;
        
    }   
    .carousel-caption a {
        padding: 10px 24px;
    }
    .carousel-caption h1 {
        font-size: 25px;
        margin-top: 10px;
    }
    .carousel-caption span {
        font-size: 40px;
        padding: 5px 0px;
    }
    .carousel-caption p {
        font-size: 16px;  
    }

    .feature {
        margin-bottom: 40px;
    }

    .feature-section{
        padding-bottom: 50px;
    }

    .offer-img{
        margin-top: 40px;
    }
    .help h6 {
        font-size: 30px;
    }
    .help h6 {
        font-size: 22px;
    }
    .help span {
        font-size: 20px;
    }
    .help i {
        margin-right: 5px;
        font-size: 17px;
        height: 10px;
        width: 10px;
        line-height: 22px;
        margin-left: 15px;
    }

    

    .header-contact i {
        height: 45px;
        width: 45px;
        line-height: 45px;
        font-size: 15px;
    }



}


@media(max-width: 767px){

    .navbar-nav .nav-link {
        padding: 15px 10px !important;
        
    }

    .navbar {
        margin-left: 0px;
    }

    .carousel-caption h1 {
        font-size: 20px;
        margin-top: 40px;
    }
    .carousel-caption span {
        font-size: 30px;
        padding: 5px 0px;
    }
    .carousel-caption p {
        font-size: 14px;
        
    }
    .heading p {
        max-width: 100%;
    
    }
    .help h6 {
        font-size: 17px;
    }
    a.help-btn{
        justify-content: flex-start;
    }
    .help span {
        font-size: 17px;
    }

    .help{
        padding: 60px 0px;
    }

    .help i {
        margin-right: 10px;
        font-size: 14px;
        height: 5px;
        width: 5px;
        line-height: 17px;
        margin-left: 15px;
    }

    a.help-btn {
        font-size: 15px;
        padding: 8px 15px;
        border: 1px solid transparent;
        margin-top: 30px;
        margin-left: 25px;
    }

}


@media (max-width: 575.98px) {
   
    .navigation-section{
        padding: 0px 10px !important;
    }
    .logo-and-address{

        padding: 0px ;
    }
    .navbar {
        background-color: #fff !important;
        padding: 0rem;
    }

    .navbar-dark .navbar-toggler {
        background: #006FBE;
    }
    .navbar-nav{
        
    }
    .navbar-nav  .nav-link{
        color: #006FBE !important;
        padding: 5px 5px !important;
        display: inline-block;
        border-bottom: 0px solid;
    }
    
    .navbar-nav  .nav-link:hover{
        color: #222222 !important;
        border-bottom: 0px solid;
    }
    .carousel-caption h1 {
        margin-top: 0px;
    }

    .help{
        padding: 40px 0px;
    }

    .feature-section{
        padding: 50px 0px 10px;
    }

    .offer{
        background: #F6F6F6;
        padding: 50px 0px;
    }

    .service-section{
        padding: 50px 0px;
    }

    .blog-section{
        padding-bottom: 50px;
    }
    .top-footer{
        padding: 50px 0px;
    }
    
}


@media (max-width: 440px) {
    .carousel-caption h1 {
        font-size: 16px;
    }
    .carousel-caption span {
        font-size: 20px;
        padding: 5px 0px;
    }
}